<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios Profesionales</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet"> 
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../build/css/app.css">
    
</head>
<body>
    <header class="header contenedor">
        <div class="header__grid">
          <div class="header__logo">
            <a href="index.html">
              <img src="build/img/logoalo.svg" alt="Alonso Salguero" />
            </a>
  
          </div>

            <nav class="navegacion">
                <a class="navegacion__link" href="../index.html">Inicio</a>
                <a class="navegacion__link" href="#">Blog</a>
                <a class="navegacion__link" href="servicios.html">Servicios</a>
                <a class="navegacion__link" href="#">Galería</a>
                <a class="navegacion__link" href="#">Contacto</a>
            </nav>

            <div class="sociales">
                <a class="sociales__enlace" href="https://facebook.com/carolinaspa">
                    <span class="sociales__accesible">Facebook</span>
                </a>
                <a class="sociales__enlace" href="https://twitter.com">
                    <span class="sociales__accesible">Twitter</span>
                </a>
                <a class="sociales__enlace" href="https://instagram.com">
                    <span class="sociales__accesible">Instagram</span>
                </a>
                <a class="sociales__enlace" href="https://youtube.com">
                    <span class="sociales__accesible">YouTube</span>
                </a>
                <a class="sociales__enlace" href="https://cr.linkedin.com/">
                    <span class="sociales__accesible">LinkedIn</span>
                </a>

            </div>
        </div>
    </header>

    <section class="escuela">
        <h3>Formación Academica</h3>
        <table summary="Estudios">
            
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Año de formación</th>
                <th scope="col">Tipo</th>
                <th scope="col">Centro Educativo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Bachiller en Ciencias de la Educación con Énfasis en I Y II Ciclos e Enformática Educativa</th>
                <td>2003</td>
                <td>Bachiller</td>
                <td>Universidad Latina</td>
              </tr>
              <tr>
                <th scope="row">Licenciatura en Informática Educativa </th>
                <td>2009</td>
                <td>Licenciatura</td>
                <td>Universidad Latina</td>
              </tr>
               
              <tr>
                <th scope="row">Bachillerato en Ingeniería de Sistemas Informáticos</th>
                <td>2019</td>
                <td>Bachiller</td>
                <td>Universidad Latina</td>
              </tr>
              <tr>
                <th scope="row">Bachillerato en Ingeniería de Sistemas Informáticos</th>
                <td>2019</td>
                <td>Bachiller</td>
                <td>Universidad Latina</td>
              </tr>
            </tbody>
          </table>
    </section>

    <footer class="footer">
        <div class="footer__grid contenedor">
            <nav class="navegacion">
                <a class="navegacion__link" href="../index.html">Inicio</a>
                <a class="navegacion__link" href="#">Blog</a>
                <a class="navegacion__link" href="servicios.html">Servicios</a>
                <a class="navegacion__link" href="#">Galería</a>
                <a class="navegacion__link" href="#">Contacto</a>
            </nav>

            <p class="footer__copyright">Todos los derechos reservados</p>
        </div>
    </footer>

</body>
</html>