<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios Profesionales</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../build/css/app.css">
</head>
<body>

    <header class="header contenedor">
        <div class="header__grid">
            <div class="header__logo">
                <a href="../index.html">
                    <img src="../build/img/LogoAgro.svg" alt="logo escuela cocina">
                </a>
            </div>

            <nav class="navegacion">
                <a class="navegacion__link" href="../index.html">Inicio</a>
                <a class="navegacion__link" href="nosotros.html">Nosotros</a>
                <a class="navegacion__link" href="#">Blog</a>
                <a class="navegacion__link" href="servicios.html">Servicios</a>
                <a class="navegacion__link" href="contacto.html">Contacto</a>
            </nav>

            <div class="sociales">
                <a class="sociales__enlace" href="https://facebook.com/carolinaspa">
                    <span class="sociales__accesible">Facebook</span>
                </a>
                <a class="sociales__enlace" href="https://twitter.com">
                    <span class="sociales__accesible">Twitter</span>
                </a>
                <a class="sociales__enlace" href="https://instagram.com">
                    <span class="sociales__accesible">Instagram</span>
                </a>
                <a class="sociales__enlace" href="https://youtube.com">
                    <span class="sociales__accesible">YouTube</span>
                </a>
                <a class="sociales__enlace" href="https://cr.linkedin.com/">
                    <span class="sociales__accesible">LinkedIn</span>
                </a>

            </div>
        </div>
    </header>
    <main class="productos contenedor seccion">
        <h2 class="productos__heading">Nuestros <span>Trabajos</span></h2>

        <div class="productos__grid">
            <div class="producto">
                <div class="producto__mask">
                    <img class="producto__imagen" src="../build/img/img1.jpg" alt="imagen producto">
                </div>
                <div class="producto__contenido">
                    <h3 class="producto__nombre">Proyecto 1</h3>
                    <p class="producto__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, eveniet neque</p>
                    <p class="producto__precio">$25</p>
                </div>
            </div>

            <div class="producto">
                <div class="producto__mask">
                    <img class="producto__imagen" src="../build/img/img2.jpg" alt="imagen producto">
                </div>
                <div class="producto__contenido">
                    <h3 class="producto__nombre">Proyecto 2</h3>
                    <p class="producto__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, eveniet neque</p>
                    <p class="producto__precio">$25</p>
                </div>
            </div>

            <div class="producto">
                <div class="producto__mask">
                    <img class="producto__imagen" src="../build/img/m_img5.jpg" alt="imagen producto">
                </div>
                <div class="producto__contenido">
                    <h3 class="producto__nombre">Proyecto 3</h3>
                    <p class="producto__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, eveniet neque</p>
                    <p class="producto__precio">$25</p>
                </div>
            </div>

            <div class="producto">
                <div class="producto__mask">
                    <img class="producto__imagen" src="../build/img/m_img6.jpg" alt="imagen producto">
                </div>
                <div class="producto__contenido">
                    <h3 class="producto__nombre">Proyecto 4</h3>
                    <p class="producto__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, eveniet neque</p>
                    <p class="producto__precio">$25</p>
                </div>
            </div>
            <div class="producto">
                <div class="producto__mask">
                    <img class="producto__imagen" src="../build/img/img1.jpg" alt="imagen producto">
                </div>
                <div class="producto__contenido">
                    <h3 class="producto__nombre">Proyecto 1</h3>
                    <p class="producto__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, eveniet neque</p>
                    <p class="producto__precio">$25</p>
                </div>
            </div>

            <div class="producto">
                <div class="producto__mask">
                    <img class="producto__imagen" src="../build/img/img2.jpg" alt="imagen producto">
                </div>
                <div class="producto__contenido">
                    <h3 class="producto__nombre">Proyecto 2</h3>
                    <p class="producto__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, eveniet neque</p>
                    <p class="producto__precio">$25</p>
                </div>
            </div>

            <div class="producto">
                <div class="producto__mask">
                    <img class="producto__imagen" src="../build/img/m_img5.jpg" alt="imagen producto">
                </div>
                <div class="producto__contenido">
                    <h3 class="producto__nombre">Proyecto 3</h3>
                    <p class="producto__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, eveniet neque</p>
                    <p class="producto__precio">$25</p>
                </div>
            </div>

            <div class="producto">
                <div class="producto__mask">
                    <img class="producto__imagen" src="../build/img/m_img6.jpg" alt="imagen producto">
                </div>
                <div class="producto__contenido">
                    <h3 class="producto__nombre">Proyecto 4</h3>
                    <p class="producto__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, eveniet neque</p>
                    <p class="producto__precio">$25</p>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer__grid contenedor">
            <nav class="navegacion">
                <a class="navegacion__link" href="../index.html">Inicio</a>
                <a class="navegacion__link" href="nosotros.html">Nosotros</a>
                <a class="navegacion__link" href="#">Blog</a>
                <a class="navegacion__link" href="servicios.html">Servicios</a>
                <a class="navegacion__link" href="contacto.html">Contacto</a>
            </nav>

            <p class="footer__copyright">Todos los derechos reservados</p>
        </div>
    </footer>


</body>
</html>