<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios Profesionales</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../build/css/app.css">
</head>
<body>

    <header class="header contenedor">
        <div class="header__grid">
            <div class="header__logo">
                <a href="../index.html">
                    <img src="../build/img/LogoAgro.svg" alt="logo escuela cocina">
                </a>
            </div>

            <nav class="navegacion">
                <a class="navegacion__link" href="../index.html">Inicio</a>
                <a class="navegacion__link" href="#">Blog</a>
                <a class="navegacion__link" href="servicios.html">Servicios</a>
                <a class="navegacion__link" href="galeria.html">Galería</a>
                <a class="navegacion__link" href="contacto.html">Contacto</a>
            </nav>

            <div class="sociales">
                <a class="sociales__enlace" href="https://facebook.com/carolinaspa">
                    <span class="sociales__accesible">Facebook</span>
                </a>
                <a class="sociales__enlace" href="https://twitter.com">
                    <span class="sociales__accesible">Twitter</span>
                </a>
                <a class="sociales__enlace" href="https://instagram.com">
                    <span class="sociales__accesible">Instagram</span>
                </a>
                <a class="sociales__enlace" href="https://youtube.com">
                    <span class="sociales__accesible">YouTube</span>
                </a>
                <a class="sociales__enlace" href="https://cr.linkedin.com/">
                    <span class="sociales__accesible">LinkedIn</span>
                </a>

            </div>
        </div>
    </header>

    <section class="bienvenida seccion">
        <h1 class="bienvenida__heading">bienvenida(o) les presentamos a nuestro <span>Equipo</span> </h1>
        <p class="bienvenida__texto">Nuestro grupo de profesionales</p>
    </section>
    <section id="servicios" class="cards">
        <div class="cards__grid contenedor">
            <div class="card">
                <img class="card__imagen" src="../build/img/angie.jpg" alt="imagen card">
                <div class="card__contenido">
                    <h2 class="card__heading">Angie<span> Fernández</span> </h2>
                    <a class="card__enlace" href="#">Leer más</a>
                </div>
            </div>

            <div class="card">
                <img class="card__imagen" src="../build/img/pao.jpg" alt="imagen card">
                <div class="card__contenido">
                    <h2 class="card__heading">Paola<span> Rodríguez</span> </h2>
                    <a class="card__enlace" href="#">Leer más</a>
                </div>
            </div>

            <div class="card">
                <img class="card__imagen" src="../build/img/vivi.jpg" alt="imagen card">
                <div class="card__contenido">
                    <h2 class="card__heading">Viviana <span>Delgado</span> </h2>
                    <a class="card__enlace" href="#">Leer más</a>
                </div>
            </div>
            <div class="card">
                <img class="card__imagen" src="../build/img/bren.jpg" alt="imagen card">
                <div class="card__contenido">
                    <h2 class="card__heading">Brenda <span>Cordero</span> </h2>
                    <a class="card__enlace" href="#">Leer más</a>
                </div>
            </div>
            <div class="card">
                <img class="card__imagen" src="../build/img/joaquin.jpg" alt="imagen card">
                <div class="card__contenido">
                    <h2 class="card__heading">Joaquin <span>Torres</span> </h2>
                    <a class="card__enlace" href="#">Leer más</a>
                </div>
            </div>
            <div class="card">
                <img class="card__imagen" src="../build/img/jorge.jpg" alt="imagen card">
                <div class="card__contenido">
                    <h2 class="card__heading">Jorge <span>Ávila</span> </h2>
                    <a class="card__enlace" href="#">Leer más</a>
                </div>
            </div>
            <div class="card">
                <img class="card__imagen" src="../build/img/yo.jpg" alt="imagen card">
                <div class="card__contenido">
                    <h2 class="card__heading">Alonso <span>Salguero</span> </h2>
                    <a class="card__enlace" href="#">Leer más</a>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer__grid contenedor">
            <nav class="navegacion">
                <a class="navegacion__link" href="../index.html">Inicio</a>
                <a class="navegacion__link" href="#">Blog</a>
                <a class="navegacion__link" href="servicios.html">Servicios</a>
                <a class="navegacion__link" href="galeria.html">Galería</a>
                <a class="navegacion__link" href="contacto.html">Contacto</a>
            </nav>

            <p class="footer__copyright">Todos los derechos reservados</p>
        </div>
    </footer>

</body>
</html>