<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios Profesionales</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../build/css/app.css">
</head>
<body>

    <header class="header contenedor">
        <div class="header__grid">
            <div class="header__logo">
                <a href="../index.html">
                    <img src="../build/img/LogoAgro.svg" alt="logo escuela cocina">
                </a>
            </div>

            <nav class="navegacion">
                <a class="navegacion__link" href="../index.html">Inicio</a>
                <a class="navegacion__link" href="nosotros.html">Nosotros</a>
                <a class="navegacion__link" href="#">Blog</a>
                <a class="navegacion__link" href="galeria.html">Galería</a>
                <a class="navegacion__link" href="contacto.html">Contacto</a>
            </nav>

            <div class="sociales">
                <a class="sociales__enlace" href="https://facebook.com/carolinaspa">
                    <span class="sociales__accesible">Facebook</span>
                </a>
                <a class="sociales__enlace" href="https://twitter.com">
                    <span class="sociales__accesible">Twitter</span>
                </a>
                <a class="sociales__enlace" href="https://instagram.com">
                    <span class="sociales__accesible">Instagram</span>
                </a>
                <a class="sociales__enlace" href="https://youtube.com">
                    <span class="sociales__accesible">YouTube</span>
                </a>
                <a class="sociales__enlace" href="https://cr.linkedin.com/">
                    <span class="sociales__accesible">LinkedIn</span>
                </a>

            </div>
        </div>
    </header>

    </section>
    <section id="lineup" class="lineup">
        <h3>Servicios</h3>

        <p class="dia">Asesoría en nutrición animal y manejo de remanentes</p>
        <div class="escenarios-contenedor contenedor">
            <div class="escenario rock bg-amarillo">
                <p class="nombre-escenario">Formulación de dietas para rumiantes, aves, cerdos, equinos, mascotas</p>

                <ul class="calendario">
                    <li>
                        - | <span>Paquete 1. Elaboración de 1 a 5 dietas para: rumiantes, aves, cerdos, equinos, mascotas.</span>
                    </li>
                    <li>
                        - | <span>Paquete 2. Asesoría y capacitación en nutrición animal. Incluye 2 visitas a campo por mes. Contrato a convenir.</span>
                    </li>
                    <li>
                        - | <span>Paquete 3.  Elaboración de más de 5 dietas para: rumiantes, aves, cerdos, equinos, mascotas.</span>
                    </li>
                    <li>
                        - | <span>Paquete 4. Elaboración de más de 5 dietas para animales, se incluye la asesoría y capacitación en nutrición animal. Incluye 2 visitas a campo por mes. Contrato a convenir.</span>
                    </li>

                </ul>
            </div> <!--.escenario-->

            <div class="escenario edm bg-verde">
                <p class="nombre-escenario">Pecuario</p>

                <ul class="calendario">
                    <li>
                        - | <span>Acompañamiento en trámites gubernamentales para establecimiento de proyecto pecuario.</span>
                    </li>
                    <li>
                        - | <span>Realización de planes de manejo de desechos en explotaciones pecuarias</span>
                    </li>
                    <li>
                        - | <span>Implementación de sistemas de tratamiento de aguas residuales en explotaciones pecuarias</span>
                    </li>
                    <li>
                        - | <span>Formulación de proyectos pecuarios y acompañamiento durante implementación</span>
                    </li>
                    
                    <li>
                        - | <span>Elaboración de manuales, procedimientos, instructivos y registros para plantas de alimentos balanceados. </span>
                    </li>

                </ul>
            </div> <!--.escenario-->
        </div> <!--.escenarios-contenedor -->


        <p class="dia">Otros servicios</p>
        <div class="escenarios-contenedor contenedor">
            <div class="escenario rock bg-verde">
                <p class="nombre-escenario">Avalúos</p>

                <ul class="calendario">
                    <li>
                        - | <span>bienes inmuebles</span>
                    </li>
                    <li>
                        - | <span>bienes inmuebles agropecuarios.</span>
                    </li>
                    <li>
                        - | <span>Elaboración de estudios de mercado.</span>
                    </li>
                    <li>
                        - | <span>Consultorías instituaciones</span>
                    </li>
                    <li>
                        - | <span>Conferencias</span>
                    </li>
                </ul>
            </div> <!--.escenario-->

            <div class="escenario edm bg-amarillo">
                <p class="nombre-escenario">Asesoramiento </p>

                <ul class="calendario">
                    <li>
                        - | <span>Diseño de fincas agropecuarias</span>
                    </li>
                    <li>
                        - | <span>Construcción de transeptos para determinación de capacidad de usos de terrenos.</span>
                    </li>
                    <li>
                        - | <span>Muestreo químico de suelos, interpretación de resultados y plan de manejo derivado.</span>
                    </li>
                    <li>
                        - | <span>Consultoría sobre Disciplina y Crianza</span>
                    </li>

                    <li>
                        - | <span>Talleres Educativos</span>
                    </li>
                    <li>
                        - | <span>Talleres Pedagógicos</span>
                    </li>
                </ul>
            </div> <!--.escenario-->
        </div> <!--.escenarios-contenedor -->

    </section>

    <footer class="footer">
        <div class="footer__grid contenedor">
            <nav class="navegacion">
                <a class="navegacion__link" href="../index.html">Inicio</a>
                <a class="navegacion__link" href="nosotros.html">Nosotros</a>
                <a class="navegacion__link" href="#">Blog</a>
                <a class="navegacion__link" href="galeria.html">Galería</a>
                <a class="navegacion__link" href="contacto.html">Contacto</a>
            </nav>

            <p class="footer__copyright">Todos los derechos reservados</p>
        </div>
    </footer>

</body>
</html>